---
import GalleryLayout from "@/layouts/GalleryLayout.astro"
import { getCollection } from "astro:content"
import type { PhotoCategories } from "@/lib/types"
import type { CollectionEntry } from "astro:content"
import Gallery from "@/components/Gallery"
import type { Photo } from "react-photo-album"
import { getCldImageUrl } from "node_modules/astro-cloudinary/src/helpers/getCldImageUrl"

export const prerender = false

type ImageType = CollectionEntry<PhotoCategories>

const { category } = Astro.params

const photos: ImageType[] = await getCollection(category as PhotoCategories)

const optimizedPhotos = await Promise.all(
  photos.map((photo) => {
    try {
      return {
        src: getCldImageUrl({
          src: photo.data.secure_url,
          width: photo.data.width,
          height: photo.data.height,
          quality: 80,
          format: "webp",
        }),
        width: photo.data.width,
        height: photo.data.height,
        alt: photo.data.context?.custom.alt,
      } as Photo
    } catch (error) {
      return null
    }
  })
)

const validOptimizedPhotos = optimizedPhotos.filter((photo) => photo !== null)
---

<GalleryLayout>
  <section class="container">
    <h2 class="sr-only">The ${category} gallery</h2>
    <Gallery photos={validOptimizedPhotos} client:load />
  </section>
</GalleryLayout>
