---
import { Image } from "astro:assets"
import type { ImageMetadata } from "astro"

const MAX_HERO_IMAGES = 2

const images = await Astro.glob<{ default: ImageMetadata }>(
  "/src/assets/hero/*.{jpg,JPG,jpeg,png,PNG,webp}"
).then((files) => {
  return files.map((file) => file.default)
})

const heroImages = images.slice(0, MAX_HERO_IMAGES)
---

<section class="hero-section">
  <div
    class="container flex flex-col items-center gap-x-16 lg:grid lg:grid-cols-[1fr,_40%] lg:gap-y-12 xl:grid-cols-[35%,_1fr]"
  >
    <div class="flex flex-col gap-y-7">
      <h1 class="hero-heading">
        I'm here to <span class="italic-text">capture</span> your moments.
      </h1>

      <p class="body-text">
        I’m here to provide a unique, personalized photography experience that highlights your
        story. Let’s turn your special moments into beautiful memories you’ll treasure forever.
      </p>

      <a class="button self-start" href="/gallery"> See my works </a>
    </div>
    <div
      class="fancy-background -order-1 mb-16 grid gap-12 self-start sm:grid-cols-2 lg:order-2 lg:mb-0 lg:grid-cols-1 xl:grid-cols-2"
    >
      {
        heroImages
          .slice(0, MAX_HERO_IMAGES)
          .map((img) => (
            <Image
              class="w-full last-of-type:hidden last-of-type:sm:block last-of-type:lg:hidden last-of-type:xl:block"
              loading="eager"
              src={img}
              alt=""
              quality="high"
            />
          ))
      }
    </div>
  </div>
</section>
