---
import { Image } from "astro:assets"
import Heading from "../Heading.astro"
import servicePhoto1 from "@/assets/services/services-1.jpg"
import servicePhoto2 from "@/assets/services/services-2.jpg"
---

<section class="section bg-[#f8f4f4]">
  <div class="container">
    <div class="grid gap-12 lg:grid-cols-[1fr_35%]">
      <div class="flex flex-col">
        <Heading className="mb-12">
          What <span class="italic-text">services</span> I provide?
        </Heading>
        <p class="body-text mb-7 md:mb-12">
          I love capturing the warmth and joy of family moments — whether it’s{" "}
          <span class="italic-text">
            kids, families, love stories, <span class="normalize-text">or</span>{" "}
            other special celebrations.
          </span>
        </p>
        <div>
          <Image alt="" src={servicePhoto1} width={servicePhoto1.width / 2} quality="high" />
        </div>
      </div>
      <div class="flex flex-col space-y-7">
        <Image alt="" src={servicePhoto2} width={servicePhoto2.width / 2} quality="high" />
        <p class="body-text-sm">
          Photography is my way of bringing your unique stories to life, and turning them into
          lasting, beautiful memories.
        </p>
      </div>
    </div>
  </div>
</section>
