---
import Heading from "../Heading.astro"
---

<section class="section bg-[#f8f4f4]">
  <div class="container">
    <div class="grid gap-12 lg:grid-cols-[1fr_35%]">
      <div>
        <Heading className="mb-12">
          What <span class="italic-text">services</span> I provide?
        </Heading>
        <p class="body-text mb-7 md:mb-12">
          I love capturing the warmth and joy of family moments — whether it’s{" "}
          <span class="italic-text">
            kids, families, love stories, <span class="normalize-text">or</span>{" "}
            other special celebrations.
          </span>
        </p>
        <img src="/assets/services-1.jpg" />
      </div>
      <div class="space-y-7">
        <img src="/assets/services-2.jpg" />
        <p class="body-text-sm">
          Photography is my way of bringing your unique stories to life, and turning them into
          lasting, beautiful memories.
        </p>
      </div>
    </div>
  </div>
</section>
