---
import { getCldImageUrl } from "astro-cloudinary/helpers"

const publicId = "floral_dtbwvs"

const backgroundImage = getCldImageUrl({ src: publicId, quality: 80 })
---

<div style={`background: url(${backgroundImage}) center/cover no-repeat #f0f0f0`}>
  <slot />
</div>
