---
import { Image } from "astro:assets"
import FrameContainer from "./FrameContainer.astro"
import { CheckCircle } from "./Icons"
import { PackageModal } from "./PackageModal"
import ContactForm from "./ContactForm.astro"

const packageName = "Standard package"
---

<FrameContainer
  background="secondary"
  className="gap-12 px-7 pb-16 pt-7 lg:flex-col lg:px-4 lg:pt-4 xl:px-7"
>
  <Image
    src="/assets/packages-1.jpg"
    class="w-full object-cover"
    width="500"
    height="500"
    alt="lorem"
  />
  <div class="flex flex-col-reverse gap-3">
    <h3 class="text-uppercase text-heading-foreground">Standard package</h3>
    <span class="text-uppercase text-4xl font-normal text-heading-foreground">500$</span>
  </div>

  <ul class="body-text-sm mx-auto flex flex-col gap-1">
    <li class="flex items-center gap-3"><CheckCircle /> Up to 3 hours</li>
    <li class="flex items-center gap-3"><CheckCircle /> 25 edited photos</li>
    <li class="flex items-center gap-3"><CheckCircle /> 100 Printing</li>
    <li class="flex items-center gap-3"><CheckCircle /> Online Gallery</li>
  </ul>
  <PackageModal packageName={packageName} client:load>
    <ContactForm submitText="Book" />
  </PackageModal>
</FrameContainer>
