---
type Props = {
  title?: string
}

import "../styles/globals.css"
import Footer from "@/components/Footer.astro"
import Header from "@/components/Header.astro"
import { ViewTransitions } from "astro:transitions"

const { title = "Cornelia Photography" } = Astro.props
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preload" href="/fonts/Satoshi-Variable.ttf" as="font" type="font/ttf" crossorigin />
    <link
      rel="preload"
      href="/fonts/Satoshi-Variable.woff"
      as="font"
      type="font/woff"
      crossorigin
    />
    <link
      rel="preload"
      href="/fonts/Satoshi-Variable.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link rel="preload" href="/fonts/Zodiak-Variable.ttf" as="font" type="font/ttf" crossorigin />
    <link rel="preload" href="/fonts/Zodiak-Variable.woff" as="font" type="font/woff" crossorigin />
    <link
      rel="preload"
      href="/fonts/Zodiak-Variable.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="/fonts/Zodiak-VariableItalic.ttf"
      as="font"
      type="font/ttf"
      crossorigin
    />
    <link
      rel="preload"
      href="/fonts/Zodiak-VariableItalic.woff"
      as="font"
      type="font/woff"
      crossorigin
    />
    <link
      rel="preload"
      href="/fonts/Zodiak-VariableItalic.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body>
    <Header />
    <main class="pt-[7.8125rem] lg:pt-[8.4375rem]" id="page-main">
      <slot />
    </main>
    <Footer />
  </body>
</html>
